{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'insurance/css/styles.css' %}">
    <title>Insurance Assistance</title>
    
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'insurance/images/logo_b.png' %}" alt="Logo"></a>
                    <div class="logo-text-container">
                        <span class="logo-text">INSURANCE</span>
                        <span class="logo-subtext">assistance</span>
                    </div>
                </div>
                <ul class="nav">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'isa' %}">Ипотека</a></li>
                    <li><a href="{% url 'osago' %}">ОСАГО</a></li>
                    <li><a href="{% url 'news_list' %}">Новости</a></li>
                    <li><a href="{% url 'faq' %}">Вопросы и ответы</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
                <div class="contact">
                    +7-938-1000-856
                </div>
            </div>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="{% static 'insurance/images/logo_w.png' %}" alt="Logo">
                <div class="footer-logo-text">
                    <span class="logo-text-footer">INSURANCE</span>
                    <span class="logo-subtext-footer">assistance</span>
                </div>
            </div>
            <div class="footer-contact">
                <div class="contact-item">
                    <span>+7-938-1000-856</span>
                </div>
                <div class="contact-item">
                    <span>lp-lessor@mail.ru</span>
                </div>
                <div class="contact-icons">
                    <a href="https://wa.me/79381000856"><img src="{% static 'insurance/images/wt.png' %}" alt="WhatsApp"></a>
                    <a href="https://t.me/vse_strahovki"><img src="{% static 'insurance/images/tg.png' %}" alt="Telegram"></a>
                </div>
                <div class="footer-legal">
                    <p><a href="{% url 'pss' %}">Политика конфиденциальности</a></p>
                </div>                
            </div>
        </div>
    </footer>
</body>
</html>