{% extends 'insurance/base.html' %}
{% load static %}


{% block content %}
<section class="container contact-page">
    <h2>Контакты</h2>
    <div class="contact-section">
        <div class="contact-items">
            <span>Телефон</span>
            <a href="tel:88003025671">+7-938-1000-856</a>
            <small>Работаем 7 дней в неделю.<br>с 09.00 до 21.00</small>
        </div>
        <div class="contact-items">
            <span>Соцыальные сети</span>
            <a href="https://wa.me/79381000856"><span>WhatsApp</span></a>
            <a href="https://t.me/vse_strahovki"><span>Telegram</span></a>
        </div>
        <div class="contact-items">
            <span>Почта</span>
            <a>info@polis.online</a>
            <small>По любым вопросам.</small>
        </div>
    </div>
</section>
{% endblock %}