{% extends 'insurance/base.html' %}
{% load static %}


{% block content %}
    <section class="section news">
        <h2>Новости</h2>
        <div class="news-container">
            {% for news in news_items %}
                <div class="news-item">
                    <div class="news-date">{{ news.time_create|date:"d.m.Y" }}</div>
                    <div class="news-image">
                        <img src="{{ news.photo.url }}" alt="News Image">
                    </div>
                    <div class="news-title">
                        <a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}